#formSearch {
    display: none;
}

#initSearch {
    display: none;
}

#closeSearch {
    display: none;
}

#buttonSearchHidden {
    display: none;
}

.button-search-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonSearch {
    display: block;
}

.button-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-search-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    color: grey;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 2px;
    min-height: 27px;
}

.button-search-hidden {
}