/* general */

@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Pacifico&display=swap);

:root {
    --blue1: #0d6efd;
    --blue2: #133963;
}

.logo-mybooky {
    font-family: 'Great Vibes', cursive;
    font-size: 1.2rem;
}

.bg-primary {
    background-color: var(--blue2) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Great Vibes', cursive;
    color: var(--blue2);
}

h1 {
    font-size: 4.3rem;
}

h2 {
    font-size: 3.7rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3em;
}

.errorMessage {
    color: red;
}

/* book-add.php */

.form-select {
    background-color: rgb(245, 245, 245);
}

/* book-info.php */

.thumb-in-grey i {
    color: grey;
}

.thumb-in-grey {
    color: grey;
}

.legend-italic-right {
    color: grey;
    font-size: 0.6rem;
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
}

.delete-comment {
    color: grey;
    font-size: 0.6rem;
    text-align: left;
    padding-left: 15px;
}

.comment-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.release-year {
    font-size: 0.9rem;
}

.title-book-info {
    font-size: 2.3rem;
}

.title-sumup {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

/* book-modif.php */

.author-years {
    color: #6c757d;
}

.author-birth-year {
    width: 70px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-right: 10px;
    color: black;
}

.author-birth-year .input-placeholder {
    color: black;
}

.author-death-year {
    width: 70px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-right: 10px;
    color: black;
}

/* book-personal-space.php */

.thumb-in-grey i {
    color: grey;
}

.thumb-in-grey {
    color: grey;
}

/* chat-booky.php */

.chat-booky-form {
    display: flex;
}

.chat-select-user {
    margin-right: 50px;
}

.chat-option-button {
    text-decoration: none;
    color: var(--blue2);
}

.notif-invitations {
    display: flex;
    justify-content: space-between;
}

.chat-count-invitations {
    display: flex;
    width: 40px;
    background-color: rgb(230, 9, 9);
    color: white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

/* chat-invitations.php */

.accept-invitation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


/* index-search */

.thumb-in-black a {
    text-decoration: none;
    color: black;
}

.thumb-in-blue {
    color: #1263c4;
}

.small-button {
    min-width: 80px;
    font-size: 0.9rem;
}

#select-search{
    height: 27px;
    color: grey;
    margin-left: 10px;
}

.bookNameSearch {
    margin-left: 10px;
}

.maxPrice {
    margin-left: 10px;
}

/* index.php */

.button-new{
    margin-right: 10px;
    min-width : 150px;;
}

.subtitle-welcome {
    font-size : 1.8rem;
    font-weight: 300;
    color: black;
}